---
---

@for $i from 1 to 9 {
  .mc-#{$i}{
    column-count: $i
  }
}

@for $i from 1 to 20 {
  .bl-#{$i}{
    margin-bottom: #{$i}em;
  }
}

p{
  margin: 1.5em 0;
}

p:first-child{
  margin-top: 0
}


section { page-break-after: always; }

section:last-child { page-break-after: avoid; }

.colonne-suivante {
  break-after: always;
  /* Pour Firefox : */
  // page-break-after: always;
  /* Pour WebKit : */
  -webkit-column-break-after: always;
}

@media print{

  @page {
    size: A4;
    margin: 1.5cm;
  }
  

  @for $i from 1 to 9 {
    .mc-#{$i}{
      column-gap: 1em
    }
  }

  .ma4--np{
    margin:0
  }
}