---
---

@for $i from 1 to 20 {
  .bl-#{$i}{
    margin-bottom: #{$i}em;
  }
}

.ma4--np{
  margin: 2rem
}

.mv4--np{
  margin-bottom: 2rem;
  margin-top: 2rem
}

article{
  p{
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  p:first-child{
    margin-top: 0
  }
}


@for $i from 1 to 20 {
  .p-mt#{$i} p{
    margin-top: #{($i * .25)+0.25}em;
  }
}

section { page-break-after: always; }

section:last-child { page-break-after: avoid; }

.colonne-suivante {
  break-after: column;
  /* Pour Firefox : */
  // page-break-after: ;
  /* Pour WebKit : */
  -webkit-column-break-after: column;
}

@media print{

  @page {
    size: A4;
    margin: 1.5cm;
  }


  .mv4--np{
    margin-bottom: 0;
    margin-top: 0
  }

  .ma4--np{
    margin:0
  }
}